/*Conteudo Central*/
.main{
  display: flex;
  margin:auto;
  width: 1165px;
  height: 590px;
  flex-direction: column;
  padding: 20px;
  /*color: white;*/
  border-bottom: solid 2px white;
}

.titulo{
  display: flex;
  flex-direction: row;
  width: 1165px;
  height: 30px;
}

.botaoEnviar input{
  background-color: #7eaa14;
  color: white;
  border:none;
  margin-left: 900px;
  border-radius: 10px;
  width: 80px;
  height: 30px;
}

.botaoEnviar input:hover{
  background-color: Orange;
}

.comentario{
  color: green;
  float: left;
  width: 1150px;
  height: 50px;
}
/*Espaço Fale conosco(area do formulario)*/
.espacoFaleConosco{
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 480px;
  margin-right: 10px;
  float: left;
  /*background-color: blue;*/
}

.espacoFaleConosco h3{
  margin:0px;
  margin-bottom: 10px;
}

.faixa{
  display: flex;
  align-items: baseline;
  width: 500px;
  height: 55.5px;
}

.faixa input{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: solid 1px orange;
  /*color: white;*/
  /*background-color: #7eaa14;*/
}

input:focus{
  border-bottom: solid 1px green;
}

.esquerda{
  font-weight: bold;
  /*background-color:#dfdfdf;*/
  text-align: center;
  width: 100px;
  height: 54px;
}
.direita{
  float: left;
  height: 54px;
}

.CaixasDeTexto{
  margin-bottom: 5px;
}


textarea:focus{
  border: solid 0px green;
}

textarea{
  border: solid 1px orange;
  resize:none;
}
