/*--DESKTOP--*/


/*CONFIG*/

body{
  margin: auto;
}

a{
  text-decoration: none;
  color:inherit;
}

ul{
  list-style-type: none;
  text-align: left;
}

/*MENU SUPERIOR*/

/*#menu_superior{
  float: left;
  position: fixed;
}*/

nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 87%;
  height: 80px;
  background-color: #a0c3d8;
  padding-left: 13%;
}

#logo{
  display: flex;
  background-image: url('imagens/');
  width: 200px;
  height: auto;
  float: left;
  background-color: grey;
}


#menu_links{
  float: left;
  padding-top: 40px;
  height: 40px;
  width: 730px;
  background-color: yellow;
}

.opcoes{
  display: flex;
  float: left;
  height: auto;
  text-align: left;
  background-color: blue;
  /*margin-right: 5px;*/
  margin-left:10px;
}

.autenticacao{
  display: flex;
  margin-left: 200px;
  float: left;
  border: solid 1px black;
}
/*CABEÇALHO ( SLIDER )*/

header{
  margin: auto;
  background-image: url();
  background-color: #417058;
  width: 1400px;
  height: 350px;
  height: 35vh;
}




/* Home */

section{
  display: flex;
  flex-direction: row;
  margin:auto;
  width: 1400px;
  height: 1000px;
  height: 100vh;
  background-color: #704154;
}

#menu_lateral{
  display: flex;
  flex-direction: column;
  background-color: #04602c;
  float: left;
  height: 100%;
  width: 20%;
}

#conteudo{
  display: flex;
  flex-direction: row;
  background-color: #8e6d29;
  float: left;
  height: 97.1%;
  width: 78%;
  padding-left:2%;
  padding-top: 2%;
}

.produto{
  display: flex;
  flex-direction: column;
  background-color: #7a0000;
  height: 340px;
  width: 300px;
  margin-left: 40px;
  text-align: left;

}

#redes_sociais{
  display: flex;
  flex-direction: column;
  float: left;
  background-color: #644170;
  margin-left: 1400px;
  margin-top: 400px;
  position: fixed;
}

/*--RODAPÉ--*/

footer{
  height: 200px;
  height: 20vh;
  background-color: black;
}

/*--SCROLLBAR( APENAS NO CHROME )--*/


/*--MOBILE--*/
